@tailwind base;
@tailwind components;
@tailwind utilities;

.divbody {
display: flex;
justify-content: center;
padding: 20px;
}
.divbody > div{
  width: 700px;
  border: 1px solid gray;
  padding: 20px;
}
h2{
  font-size: 28px;
  font-weight: bold;
}
ul li:hover{
  cursor: pointer;
  color: blue;  
}